# Ignore tags file in root folder
tags

# Ignore build folder in any directory
**/build 

# Ignore mx_build folder in any directory
**/mx_build 

# Ignore microlite_build folder in any directory
**/microlite_build 

# Ignore build folder in any directory
**/test_build 

# Ignore microlite_build folder in any directory
**/testlite_build 

# Ignore any .ld files anywhere
*.ld

# Ignore any .swp files anywhere
*.swp

# Ignore any .lock files anywhere
*.lock

# Ignore any .temp files anywhere
*.temp
