#Find correct programmer
source [find interface/stlink-v2-1.cfg]
# Find correct target
source [find target/stm32f7x.cfg]

# Program the target, this command is enough
#program [find BUILD/mbed.elf] verify reset exit

init
reset init
halt
#flash write_image erase BUILD/NUCLEO_F767ZI/GCC_ARM-MY_PROFILE/mbed.bin 0x08000000
flash write_image erase BUILD/mbed.bin 0x08000000
shutdown
