source [find interface/stlink-v2-1.cfg]

set CHIPNAME stm32f405
source [find target/stm32f4x.cfg]

# did not yet manage to make a working setup using srst
#reset_config srst_only
reset_config  srst_nogate

adapter_nsrst_delay 100
adapter_nsrst_assert_width 100

init
targets
reset halt
program [find build/uart.bin] 0x8000000 verify
reset run
shutdown
